@use "variables" as *;
@use "mixins" as m;
@use "functions" as f;

.layout {
    @include m.grid($gc: f.em(255) minmax(0, 1fr));

    height: 100vh;

    background-color: $color-gray-200;

    &__main {
        &__content {
            padding: f.em(24);
        }
    }

    // Responsive
    @include m.media(tablet) {
        display: block;
    }
}